{% extends 'website/layout.html' %}
{% load static %}
{% block title %}Бронирование - DeepTown{% endblock %}
{% block content %}
    <h1>Бронирование</h1>
    <div class="booking-div">
        <div id="booking-leftside">
            <form action="{% url 'booking-date-form' %}" method="POST" id="booking-search-form">{% csrf_token %}
                <div class="booking-input">
                    <h3>Дата заезда</h3>
                    {{ book_date_form.date_in }}
                </div>
                <div class="booking-input">
                    <h3>Дата выезда</h3>
                    {{ book_date_form.date_out }}
                </div>
            </form>
        </div>
        <div id="booking-rightside">
            <div>
                <div class="booking-input">
                    <h3>Пребывание</h3>
                    <p>{{ days }}</p>
                </div>
                <div>
                    <div class="booking-input">
                        <h3>Свободные номера</h3>
                        <table>
                            <thead>
                                <tr><td></td><td></td></tr>
                            </thead>
                            {% for rtype_price in rtypes_price %}
                                <tr class="booking-table-row" id="rtype{{ rtype_price.2 }}">
                                    <td><a href="{% url 'booking-date-rtype' beg=beg fin=fin id=rtype_price.2%}"><p>{{ rtype_price.0.title }}</p></a></td>
                                    <td class="booking-table-price"><a href="{% url 'booking-date-rtype' beg=beg fin=fin id=rtype_price.2%}"><p>{{ rtype_price.1 }}</p></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <script>booking_select(id={{ id }});</script>
                    </div>
                    <div class="booking-input">
                        <h3>Стоимость</h3>
                        <p>{{ price }} руб.</p>
                    </div>
                </div>

            </div>
            <div class="booking-request-div">
                {% if booking_request_form is not None %}
                <h3>Подтверждение заявки</h3>
                <form id="booking-request-form" action="{% url 'booking-date-rtype' beg=beg fin=fin id=id %}" method="post">{% csrf_token %}
                    {{ booking_request_form }}
                    <input type="button" value="Отправить" id="button-submit" onclick="document.getElementById('booking-request-form').submit()">
                    </input>
                    <!--<a id="review-send-submit" onclick="document.getElementById('booking-request-form').submit()">
                        <img style="width: 50px" src="{% static 'img/send.svg' %}" alt="send">
                    </a>-->
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}