{% extends 'website/layout.html' %}
{% load static %}
{% block title %}Отправлено - Бронирование - DeepTown{% endblock %}
{% block content %}
    <h1>Бронирование</h1>
    <h2>Сообщение о бронировании отправлено администратору</h2>
{% endblock %}