{% extends 'website/layout.html' %}
{% block title %}Контакты - DeepTown{% endblock %}
{% block content %}
    <h1>Контакты</h1>
    <div class="contacts-div">
        <h2>Адрес</h2>
        <p>Республика Крым, г. Севастополь, ул. Людмилы Бобковой, д. 11/15</p>
    </div>
    <div class="contacts-div">
        <h2>Телефон</h2>
        <p>+7 (978) 022-21-22</p>
        <p>(круглосуточно)</p>
    </div>
    <div class="contacts-div">
        <h2>Мы на карте</h2>
        <p>От авто и железнодорожного вокзала на автобусах 4, 71, 109, 110, 112 сначала нужно доехать до пл. Лазарева или до Центрального рынка или до остановки «ЦУМ», а дальше пересесть на автобусы 105 или 77 и продолжить путешествие до комплекса (до одноименной остановки «Музей “35-я береговая батарея”»).</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d710.7049302223592!2d33.4036804!3d44.5597941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40953d6ababf7c43%3A0x622aad006d21b60b!2sDeeptown!5e0!3m2!1sen!2s!4v1559328192773!5m2!1sen!2s" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="contacts-div">
        <h2>E-Mail</h2>
        <a href="email:deeptown-club@yandex.ru">deeptown-club@yandex.ru</a>
    </div>
{% endblock %}