{% extends 'website/layout.html' %}
{% block title %}Галерея - DeepTown{% endblock %}
{% block content %}
    <h1>Галерея</h1>
    <div class="horizontal-scroll" id="horizontal-scroll">
        {% for gallery in galleries %}
             <a href="{% url 'gallery-open' url=gallery.url %}" style="opacity: 0.4">{{ gallery.title }}</a>
        {% endfor %}
    </div>
    <script>gallery_auto_opacity()</script>
    <div id="gallery-div">
    {% for photo in photos %}
        <div><img src="/media/{{ photo.image }}" alt="photo"></div>
    {% endfor %}
    </div>
{% endblock %}
