{% extends 'website/layout.html' %}
{% load static %}
{% block title %}Вилла DeepTown{% endblock %}
{% block background %}{% static 'img/Rectangle.png' %}{% endblock %}

{% block content %}

    <div id='index-image-div'>
        <img id="index-image-img" src="" style="display:none;">
    </div>
    <div id="index-div">
        {% for message in messages %}
            <div class="index-row">
                <div class="index-leftside">
                    <img class="index-leftside-img" src="media/{{ message.image }}">
                </div>
                <div class="index-rightside">
                    <h2>{{ message.title }}</h2>
                    <p>{{ message.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
