{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.8, user-scalable=no">
    <meta name="theme-color" content='#FFFFFF'>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/color-day.css' %}">
    <link rel="stylesheet" href="{% static '/css/main-new.css' %}">
    <link rel="stylesheet" href="{% static '/css/hamburgers.css' %}">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
</head>

<body id="body">
<header id="header">
    <div>
        <a href="/" id="logo">DEEPTOWN</a>
        <a href="{% url 'booking' %}" id="logout-button">бронировать</a>
        <div id="show-right-menu-button" class="hamburger hamburger--vortex">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

    </div>
</header>

<div id="right-panel">
    {% if user.is_authenticated %}
    <a class="right-panel-url" href="{% url 'admin' %}">админка</a>
    {% endif %}
    <a class="right-panel-url" href="{% url 'promo' %}">акции</a>
    <a class="right-panel-url" href="{% url 'rooms' %}">номера</a>
    <a class="right-panel-url" href="{% url 'services' %}">услуги</a>
    <a class="right-panel-url" href="{% url 'prices' %}">цены</a>
    <a class="right-panel-url" href="{% url 'gallery' %}">галерея</a>
    <a class="right-panel-url" href="{% url 'reviews' %}">отзывы</a>
    <a class="right-panel-url" href="{% url 'contacts' %}">контакты</a>
    <div id="right-panel-contact">
        <a href="tel:+79780222122">7 978 022 21 22</a>
        <p>Севастополь<br>ул. Людмилы Бобковой 11/15</p>
    </div>
</div>
<script>addOrRemovePhone(); auto_underline()</script>

{% block content %}
{% endblock %}

<footer>
    <h2>Вилла DeepTown</h2>
    <div>
        <div>
            <h3>Контакты</h3>
            <a href="tel:79780222122">7 978 022 21 22 круглосуточно</a>
            <p>г. Севастополь ул. Людмилы Бобковой 11/15<br></p>
            <a href="mailto:deeptown-club@yandex.ru">deeptown-club@yandex.ru</a>
            <br><br>
            <a href="https://vk.com/ento_dima">©2019 Дмитрий Пархоменко</a>
        </div>
        <div>
            <h3>Навигация</h3>
            <a class="" href="{% url 'promo' %}">акции</a>
            <a class="" href="{% url 'rooms' %}">номера</a>
            <a class="" href="{% url 'services' %}">услуги</a>
            <a class="" href="{% url 'prices' %}">цены</a>
            <a class="" href="{% url 'gallery' %}">галерея</a>
            <a class="" href="{% url 'reviews' %}">отзывы</a>
            <a class="" href="{% url 'contacts' %}">контакты</a>
        </div>
        <div>
            <h3>Партнеры</h3>
            <a class="" href="https://www.tripadvisor.ru/Hotel_Review-g295387-d4431542-Reviews-Deep_Town_Hotel-Sevastopol.html" target="_blank" rel="noopener noreferrer" >Трипадвизор</a>
            <a class="" href="https://www.101hotels.ru/main/cities/sevastopol/deep_town.html" target="_blank" rel="noopener noreferrer" >101 отель</a>
            <a class="" href="http://www.visa.com/" target="_blank" rel="noopener noreferrer" >VISA</a>
            <a class="" href="https://www.mastercard.ru" target="_blank" rel="noopener noreferrer" >MasterCard</a>
            <a class="" href="https://mironline.ru/" target="_blank" rel="noopener noreferrer" >МИР</a>
        </div>
    </div>
</footer>
</body>
</html>