{% extends 'website/layout.html' %}
{% block title %}Цены - DeepTown{% endblock %}
{% block content %}
    <h1>Цены</h1>
    <div id="prices-div">
        <div id="prices-div-left">
            {% for season in seasons %}
                <div class="prices-title">
                    <h3>{{ season.title }}</h3>
                    <p>с {{ season.start_date }}</p>
                </div>

                {% for rtype_season in rtype_seasons %}
                    {% if rtype_season.season == season %}
                        <div class="prices-season">
                            <h3>{{ rtype_season.r_type.title }}</h3>
                            <p>{{ rtype_season.price }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div id="prices-div-right">
            <div>
                <h3>двухместное проживание</h3>
                <b>+ {{ price.double_room }}</b>
            </div>
            <div>
                <h3>дополнительный гость </h3>
                <b>+ {{ price.extra_guest }}</b>
            </div>
        </div>
    </div>
{% endblock %}