{% extends 'website/index.html' %}
{% block title %}Акции - DeepTown{% endblock %}
{% block background %} {% endblock %}

{% block content %}
    <h1>Акции</h1>
    <div id="promos-div">
    {% for promo in promos %}
        <h2>{{ promo.title }}</h2>
        <p>{{ promo.text }}</p>
    {% endfor %}
    <p>Скидки и акции не суммируются. Предусмотрены сезонные акции.</p>
    </div>
{% endblock %}
