{% extends 'website/layout.html' %}
{% load static %}
{% block title %}Отзывы - DeepTown{% endblock %}
{% block content %}
    <script src="{% static 'js/validators.js' %}"></script>
    <h1>Отзывы</h1>
    <div id="review-send-div">
        <div id="show-review-send-form-div"><a id="show-review-send-form"><b>Расскажите</b> нам что вы думаете о нас, мы обязательно учтем все ваши пожелания</a></div>

        <form id="review-send-form" style="display: none" action="{% url 'reviews' %}" method="post" onsubmit="document.getElementById('review-send-form').submit()">{% csrf_token %}
            <div>
                {{ review_send_form }}
            </div>

            <a id="review-send-submit" style="display: none" onclick="document.getElementById('review-send-form').submit()">
                <img src="{% static 'img/send.svg' %}" alt="send">
            </a>
        </form>
    </div>
    <div class="review-div">
        {% for element in reviews_public %}
            <div>
                <p>{{ element.text }}</p>
                <p><b>{{ element.author }}</b></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}