{% extends 'website/layout.html' %}
{% block title %}{{ r_type.title }} - Номера - DeepTown{% endblock %}
{% block content %}
    <h1>{{ r_type.title }}</h1>
    <div id="room-top-div">
        <p>{{ r_type.info }}</p>
        <div>
            <h3>В этом сезоне</h3>
            <h3>1 👱‍♂️ <b style="margin: 0">{{ price_current }}</b> рублей</h3>
            <h3>2 👱‍♂️ {{ price_current_two }} рублей</h3>
            <h3>+1 🛌 {{ price_extra_guest }} рублей</h3>
        </div>
    </div>

    <div id="room-info-div">
        <p>Вместимость: <b>до {{ r_type.max_capacity }} человек</b></p>
        <p>Площадь: <b>{{ r_type.area }} кв.м.</b></p>
    </div>

    <div id="room-photos-div">
    {% for r_type_photo in r_type_photos %}
        <img src="/media/{{ r_type_photo.photo.image }}" alt="photo {{ r_type_photo.r_type.title }}">
    {% endfor %}
    </div>

    <div id="room-equipment-div">
        <h3>Комплектация</h3>
        <div id="room-equipment-div-big">
        {% for r_type_equipment in r_type_equipments %}
            {% if r_type_equipment.equipment.icon != '' %}
            <div>
                <img src="/media/{{ r_type_equipment.equipment.icon }}" alt="equipment {{ r_type_equipment.equipment.title }} icon">
                <h3>{{ r_type_equipment.equipment.title }}</h3>
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <div id="room-equipment-div-small">
            <p>
            {% for r_type_equipment in r_type_equipments %}
            {% if r_type_equipment.equipment.icon == '' %}
                {{ r_type_equipment.equipment.title }}&nbsp&nbsp
            {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>

    <!--
    <div id="room-art">
        <h3 id="room-art-h3">Арт номера этого класса</h3>
        <div id="rooms-div">
        {% for room in rooms %}
            <a href="{% url 'rooms-art' url=room.0.r_type.url url2=room.0.url  %}" class="room-link">
                <div>
                    <h3>{{ room.0.title }}</h3>
                </div>
                <img src="/media/{{ room.1.photo.image }}" alt="photo {{ room.1.room.title }} {{ room.1.room.r_type.title }}">
            </a>
        {% endfor %}
        </div>
    </div>
    -->
{% endblock %}