{% extends 'website/layout.html' %}
{% block title %}Номера - DeepTown{% endblock %}
{% block content %}
    <h1>Номера</h1>
    <div id="rooms-div">
    {% for room in rooms %}
        <a href="{% url 'rooms' url=room.0.url  %}" class="room-link">
            <div>
                <h3>{{ room.0.title }}</h3>
                <p>от <b>{{ room.2 }}</b> рублей</p>
            </div>
            <img src="/media/{{ room.1.photo.image }}" alt="photo">
        </a>
    {% endfor %}
    </div>
{% endblock %}
