{% extends 'website/layout.html' %}
{% block title %}{{ r_type.title }} - Номера - DeepTown{% endblock %}
{% block content %}
    <h1>{{ room.title}} {{ r_type.title }}</h1>
    <div id="room-top-div">
        <p>{{ room.info }}</p>
        <div>
            <h3>В этом сезоне</h3>
            <h3>1 👱‍♂️ <b style="margin: 0">{{ price_current }}</b> рублей</h3>
            <h3 style="opacity: 0.3">2 👱‍♂️ {{ price_current_two }} рублей</h3>
            <h3 style="opacity: 0.3">+1 🛌 {{ price_extra_guest }} рублей</h3>
        </div>
    </div>

    <div id="room-info-div">
        <p>Базовый номер:  <b><a href="{% url 'rooms' url=room.r_type.url %}">{{ room.r_type.title }}</a></b></p>
        <p>Вместимость: <b>до {{ r_type.max_capacity }} человек</b></p>
        <p>Площадь: <b>{{ r_type.area }} кв.м.</b></p>
    </div>

    <div id="room-photos-div">
    {% for room_photo in room_photos %}
        <img src="/media/{{ room_photo.photo.image }}" alt="photo {{ room_photo.room.title }}">
    {% endfor %}
    </div>

    <div id="room-equipment-div">
        <h3>Комплектация</h3>
        <div id="room-equipment-div-big">
        {% for r_type_equipment in r_type_equipments %}
            {% if r_type_equipment.equipment.icon != '' %}
            <div>
                <img src="/media/{{ r_type_equipment.equipment.icon }}" alt="equipment {{ r_type_equipment.equipment.title }} icon">
                <h3>{{ r_type_equipment.equipment.title }}</h3>
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <div id="room-equipment-div-small">
            <p>
            {% for r_type_equipment in r_type_equipments %}
            {% if r_type_equipment.equipment.icon == '' %}
                {{ r_type_equipment.equipment.title }}&nbsp&nbsp
            {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}