{% extends 'website/layout.html' %}
{% block title %}Услуги - DeepTown{% endblock %}
{% block content %}
    <h1>Услуги</h1>
    <div id="services-div">
        {% for service_comb in services_comb %}
            <div>
                <h3>{{ service_comb.0.title }}</h3>
                <img src="/media/{{ service_comb.1.image }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}