/*--------------- COLORS ---------------*/
*{
    --accent-color-1: rgba(0, 0, 0, 0.95);
    --accent-color-1-opacity: rgba(0, 0, 0, 0.3);
    --accent-color-1-inverse: rgba(255,255,255, 0.95);
    --accent-color-1-inverse-opacity: rgba(255,255,255, 0.5);
    --accent-color-2: #000000;
    --accent-color-2-opacity: rgba(0, 0, 0, 0.3);
    --background-1: #f2f2f2;
    --svg-color: none;


    --accent-color-terminate: #ff0000;
}
/*--------------- COLORS ---------------*/