/*--------------- COLORS ---------------*/
*{
    --accent-color-1: #2FDDCD;
    --accent-color-1-opacity: rgba(47, 221, 205, 0.31);
    --accent-color-2: #FFF18A;
    --accent-color-2-opacity: rgba(255, 241, 138, 0.3);
    --background-1: #001218;
    --background-1-opacity: #001218;
    --svg-color: invert(.9) sepia(0.3) saturate(5) hue-rotate(0deg);

    --accent-color-terminate: red;
}
/*--------------- COLORS ---------------*/