/*--------------- FONTS ---------------*/
@font-face {
    font-family: 'Century Gothic';
    font-weight: bold;
    src: url(../font/CenturyGothic/CenturyGothic-Bold.woff);
}
@font-face {
    font-family: 'Century Gothic';
    font-weight: normal;
    src: url(../font/CenturyGothic/CenturyGothic.woff);
}
@font-face {
    font-family: 'Century Gothic';
    font-weight: normal;
    font-style: italic;
    src: url(../font/CenturyGothic/CenturyGothic-Italic.woff);
}
@font-face {
    font-family: 'Century Gothic';
    font-weight: bold;
    font-style: italic;
    src: url(../font/CenturyGothic/CenturyGothic-BoldItalic.woff);
}
@font-face {
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-style: normal;
    src: url(../font/ProximaNova/ProximaNova-Regular.woff);
}
@font-face {
    font-family: 'Proxima Nova Bd';
    font-weight: bold;
    font-style: normal;
    src: url(../font/ProximaNova/ProximaNova-Bold.woff);
}
/*--------------- FONTS ---------------*/
.hided{
    display: none;
    position: absolute;
}
table{
    border-spacing: 0;
    width: 100%;
}
/*--------------- TEXT'S ---------------*/
h1{
    margin: 0 0 30px 0;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: normal;
    color: var(--accent-color-1);
}
h2{
    margin: 4px 30px 4px 0;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: var(--accent-color-1);
}
h3{
    margin: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    color: var(--accent-color-1);

}
p{
    color: var(--accent-color-1);
    margin: 0;
    text-align: justify;
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 18px;
}

a{
    color: var(--accent-color-2);
    text-decoration: none;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.phone h1{
    margin-left: 20px;
}
.phone h2{
    margin-left: 20px;
}
.phone h3{
}
.phone p{
    margin-left: 20px;
    margin-right: 20px;
}
/*--------------- TEXT'S ---------------*/

/*--------------- BODY'S ---------------*/
body{
    margin: 50px 180px 0 30px;
    background: var(--background-1);
    min-height: calc(100vh - 50px);
}
header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 20px 30px 0 30px;
    z-index: 2;
    transition: top 0.3s;
}
header div{
    height: 30px;
    vertical-align: middle;
}

body.phone{
    margin: 40px 0;
}
.phone header{
    padding: 15px 20px 0 20px;
}
/*--------------- BODY'S ---------------*/

/*--------------- LAYOUT ---------------*/
#logo{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: auto;
    bottom: auto;
    color: var(--accent-color-2);
    text-shadow: 0 6px 15px var(--accent-color-2-opacity);
}
#logout-button{
    font-size: 22px;
    text-align: right;
    position: absolute;
    right: 30px;
    top: auto;
    bottom: auto;
}
#show-right-menu-button{
    display: none;
    position: fixed;
    right: 0;
}
#right-panel{
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    width: 120px;
    z-index: 1;
}
.right-panel-url{
    display: block;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    right: 0;
    border-bottom: 2px dotted rgba(0, 0, 0, 0);
}
.right-panel-url-selected{
    border-bottom: 2px solid var(--accent-color-1-opacity);
    margin-left: 0;
}
#right-panel div{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-family: "Century Gothic", sans-serif;
    width: 150px;
}
#right-panel-contact{
    text-align: right;
}
#right-panel-contact p{
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 16px;
    text-align: right;
    margin: 0;
}
#right-panel-contact a{
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 16px;
}
.phone #logout-button{
    margin-right: 30px;
}
.phone #show-right-menu-button{
    display: block;
    right: -12px;
}
.phone #right-panel{
    background: var(--background-1);
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 90px;
}
.phone .right-panel-url{
    margin-right: 20px;
    padding-right: 0;
    font-size: 26px;
}

/*--------------- LAYOUT ---------------*/

/*--------------- FOOTER ---------------*/
footer{
    border: 1px solid var(--accent-color-1);
    padding: 28px 0 28px 28px;
    border-bottom: 0;
}
footer h2{
    margin-bottom: 30px;
}
footer div{
    display: flex;
    margin-right: 28px;
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 18px;
}
footer div div{
    display: block;
}
footer div div a{
    display: block;
}
footer div div h3{
    font-size: 16px;
    margin-bottom: 5px;
}
footer div div a {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 16px;
}
footer div div p{
    text-align: left;
    font-size: 16px;
}
.phone footer {
    border: 0;
    border-top: 1px solid var(--accent-color-1);
    padding: 20px 20px 0 20px;
}
.phone footer div{
    display: block;
    margin-bottom: 30px;
}
.phone footer h2{
    margin-left: 0;
}
.phone footer div div p{
    margin-left: 0;
}
/*--------------- FOOTER ---------------*/

/*--------------- INDEX ---------------*/
#index-div{
    width: 100%;
    margin-bottom: 20vh;
}
#index-div div{
    display: inline-flex;
    padding-top: 12vh;
}
#index-div div div{
    width: 50%;
    display: block;
}
.index-leftside img{
    width: 100%;
    display: block;
}
.index-leftside{
    margin-right: 30px;

}
.index-rightside{
    margin-top: 5%;
}
#index-image-div{
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#index-image-div img{
    min-width: 100%;
    height: 100%;
    display: none;
    filter: opacity(50%);
}
.phone .index-leftside{
    display: none;
}
/*--------------- INDEX ---------------*/

/*--------------- REVIEWS ---------------*/
#review-send-div{
    margin-bottom: 30px;
}
#show-review-send-form{
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--accent-color-2-opacity);
    font-weight: bold;
}
#show-review-send-form b{
    color: var(--accent-color-2);
}
#review-send-form{
    display: flex;
    width: 100%;
}
#review-send-form div{
    display: block;
    width: 100%;
}
#review-send-form textarea{
    font-size: 26px;
    width: 100%;
    resize: none;
    background: none;
    border: none;
    border-bottom: 2px solid var(--accent-color-2-opacity);
    font-family: "Century Gothic",sans-serif;
    padding: 0;
    outline: none;
    margin: 0;
    color: var(--accent-color-2);
}
#review-send-form input{
    width: 100%;
    font-family: "Century Gothic",sans-serif;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    color: var(--accent-color-2);
}
#review-send-form a{
    width: 50px;
    height: 50px;
    margin: 6px 0 0 10px;
    cursor: pointer;
}
#review-send-div a img{
    filter: var(--svg-color);
}
.phone #review-send-form{
    padding: 0 20px;
    display: block;
    width: auto;
}
.phone #review-send-form div{
    margin-right: 20px;
}
.phone #show-review-send-form-div{
    text-align: justify;
    margin: 0 20px;
}
.phone #review-send-form a{
    margin: 0 0 0 calc(100% - 50px);
}
.phone #review-send-form a img{
    height: 50px;
    width: 50px;
}
.review-div div{
    margin-bottom: 15px;
}
.review-div div div{
    display: flex;
}
.review-div div p{
    margin-bottom: 5px;
}
.review-div div a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 20px;
}
.desktop .review-div{
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.desktop .review-div div{
    width: calc(50% - 30px) ;
    margin-right: 30px;
}
.desktop .review-div div p{
    margin-bottom: 5px;
}
.phone .review-div div div{
    margin: 0 20px;
}
.phone .review-div div a{
    margin-right: 10px;
}
/*--------------- REVIEWS ---------------*/

/*--------------- GALLERY ---------------*/
.desktop #gallery-div{
    width: calc(100% + 40px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.desktop #gallery-div div {
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    width: calc(50% - 30px);
}
.desktop #gallery-div div img{
    display: block;
}
#gallery-div{
    width: 100%;
    display: block;
}
#gallery-div img{
    width: 100%;
    margin-bottom: 0;
}
/*--------------- GALLERY ---------------*/

/*--------------- PROMOS ---------------*/
#promos-div p{
    margin-bottom: 35px;
}
/*--------------- PROMOS ---------------*/

/*--------------- SERVICES ---------------*/
.desktop #services-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.desktop #services-div div{
    width: calc(50% - 30px);
    margin-right: 30px;
}
#services-div div{
    width: 100%;
    height: 400px;
    background: #001218;
    margin-bottom: 30px;

    justify-content: center;
    overflow: hidden
}
#services-div div h3{
    position: absolute;
    color: var(--accent-color-1-inverse);
    text-transform: lowercase;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 22px;
}
#services-div div img{
    flex-shrink: 0;
    width: 100%;
    min-height: 100%
}
/*--------------- SERVICES ---------------*/

/*--------------- ROOMS ---------------*/
.desktop #rooms-div{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    flex-direction: row;
}
.desktop .room-link{
    display: block;
    width: calc(50% - 30px);
    margin-right: 30px;
}
.room-link{
    display: block;
    position: relative;
    height: content-box;
    margin-bottom: 30px;
}
.room-link div h3{
    display: inline-block;
    text-decoration: none;
}
.room-link div h3::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--accent-color-1-inverse);
    transition: width .3s;
}
.room-link:hover div h3::after{
    width: 100%;
}
.room-link div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--accent-color-1-opacity);
}
.room-link div h3{
    font-size: 26px;
    position: absolute;
    top: 18px;
    left: 20px;
    color: var(--accent-color-1-inverse);
    padding-bottom: 0;
}
.room-link div p{
    color: var(--accent-color-1-inverse);
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 18px;
}
.room-link div p b{
    font-size: 22px;
}
.room-link img{
    width: 100%;
    display: block;
}
.phone .room-link{
    margin-bottom: 15px;
}
.phone .room-link div h3 {
    top: 15px;
    left: 20px;
    font-size: 34px;
}
.phone .room-link div p {
    right: 0;
    bottom: 15px;
    font-size: 22px;
}
/*--------------- ROOMS ---------------*/

/*--------------- PRICES ---------------*/
.desktop #prices-div{
    display: flex;
    width: 100%;
}
.desktop #prices-div-right{
    width: 50%;
}
.desktop #prices-div-left{
    width: 50%;
}
#prices-div{
    margin-bottom: 50px;
}
#prices-div-left{
    margin-top: -20px;
}
.prices-title{
    margin-top: 20px;
    display: flex;
    margin-bottom: 10px;
}
.prices-title h3{
    font-size: 22px;
}
.prices-title p{
    margin: auto 0 0 auto;
    color: var(--accent-color-1-opacity);
}
.prices-season{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--accent-color-1-opacity);
}
.prices-season p{
    margin: auto 0 0 auto;
}
.desktop #prices-div-right{
    padding-left: 30px;
    margin-top: 0;
}
#prices-div-right{
    margin-top: 50px;
}
#prices-div-right div {
    display: flex;
    margin-bottom: 5px;
}
#prices-div-right div h3{
    font-size: 18px;
}
#prices-div-right div b{
    font-family: "Proxima Nova Bd", sans-serif;
    margin: auto 0 0 auto;
}
.phone #prices-div{
    margin-left: 20px;
    margin-right: 20px;
}
/*--------------- PRICES ---------------*/

/*--------------- ROOM ---------------*/
#room-top-div{
    display: flex;
    width: calc(100% + 30px);
    margin-bottom: 30px;
}
#room-top-div *{
    width: calc(50% - 30px);
    margin-right: 30px;
}
#room-top-div div h3{
    text-align: right;
    width: 100%;
    white-space: nowrap;
    font-weight: normal;
}
.phone #room-top-div{
    display: block;
    margin-right: 20px;
    width: 100%;
    margin-bottom: 0;
}
.phone #room-top-div p{
    width: calc(100% - 40px);
    margin-bottom: 20px;
}
.phone #room-top-div div{
    width: 100%;
    margin-bottom: 20px;
}
.phone #room-top-div div h3{
    text-align: center;
}
#room-info-div{
    margin-bottom: 30px;
}
#room-info-div p{
    white-space: nowrap;
}
#room-info-div p b{
    font-family: "Century Gothic", sans-serif;
}
.phone #room-info-div{
    margin-bottom: 20px;
}
.phone #room-info-div *{
    text-align: center;
}
#room-photos-div{
    margin-left: -30px;
    margin-right: 30px;
    padding-left: 30px;
    width: 100%;
    white-space: nowrap;
    overflow-y:auto;
    margin-bottom: 30px;
}
#room-photos-div img{
    max-width: 90%;
}
.phone #room-photos-div{
    margin-bottom: 20px;
}
#room-equipment-div{
    margin-bottom: 40px;
}
#room-equipment-div h3{
    font-style: normal;
    margin-bottom: 15px;
}

#room-equipment-div-big{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#room-equipment-div-big div{
    display: flex;
    margin-right: 40px;
    margin-bottom: 15px;
}
#room-equipment-div-big div img{
    height: 35px;
    margin-right: 15px;
}
#room-equipment-div-big div h3{
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    opacity: 1;
    margin: auto 0;
}
.phone #room-equipment-div{
    margin: 0 20px 20px 20px;
}
.phone #room-equipment-div h3{
    margin: 0 20px 20px 0;
}
.phone #room-equipment-div-big div h3{
    margin: auto 0;
}
#room-equipment-div-small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.phone #room-equipment-div-small p{
    margin: 0;
}
#room-art h3{
    margin-bottom: 10px;
}
.phone #room-art-h3{
    margin-left: 20px;
}
/*--------------- ROOM ---------------*/

/*--------------- BOOKING ---------------*/
.booking-div{
    display: flex;
}
#booking-leftside{
    margin-right: 10px;
}
.booking-input{
    margin-bottom: 20px;
}
.booking-input input{
    background: none;
    border: 0;
    font-size: 18px;
    font-family: "Century Gothic", sans-serif;
}
.booking-input p{
    margin-top: 3px;
    font-family: "Century Gothic", sans-serif;
}
.booking-input table{
    width: 100%;
}
.booking-table-price a p{
   text-align: right;
    padding-right: 8px;
}
.booking-table-row td{
    border-bottom: 2px solid var(--accent-color-2-opacity);
    padding-bottom: 3px;
    padding-top: 6px;
}
.active-rtype{
    background: var(--accent-color-2);
}
.active-rtype td{
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.active-rtype td a p{
    color: var(--accent-color-1-inverse);
}
#booking-rightside{
    width: 100%;
}
#booking-rightside a{
    width: 100%;
}
.booking-request-div{
    margin-top: 30px;
    margin-bottom: 30px;
}
.booking-request-div input{
    width: 100%;
    background: none;
    border: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--accent-color-1-opacity);
}
.booking-request-div textarea{
    width: 100%;
    background: none;
    border: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accent-color-1-opacity);
}
#button-submit{
    font-weight: bold;
    text-transform: uppercase;
    background: var(--accent-color-1);
    padding: 12px 15px;
    color: var(--accent-color-1-inverse);
}
.phone .booking-div{
    display: block;
}
.phone .booking-input{
    margin: 15px 20px;
}
.phone .booking-input *{
    margin-left: 0;
}
.phone .booking-request-div{
    margin-left: 20px;
    margin-right: 20px;
}
/*--------------- BOOKING ---------------*/

/*--------------- CONTACTS ---------------*/
.contacts-div{
    margin-bottom: 30px;
}
.phone .contacts-div a{
    margin: 0 20px;
}
/*--------------- CONTACTS ---------------*/

/*--------------- LOGIN ---------------*/
#login-form{
    width: 50%;
    height: calc(100% - 50px);
    display: flex;
    position: absolute;
}
#login-form div{
    width: 100%;
    margin: auto 0;
}
#login-form div input::placeholder{
    opacity: 1;
    color: var(--accent-color-2-opacity);
}
#login-form a{
    height: 50px;
    width: 50px;
    margin: auto 0;
    padding-bottom: 80px;
    cursor: pointer;
}
#login-form a img{
    filter: var(--svg-color);
}
#id_username{
    font-family: "Century Gothic",sans-serif;
    font-size: 26px;
    font-weight: bold;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    width: 100%;
    margin: 0 0 20px 0;
    color: var(--accent-color-2);
}
#id_password{
    font-family: "Century Gothic",sans-serif;
    font-size: 26px;
    font-weight: bold;
    border: none;
    background: none;
    margin: 0 0 80px 0;
    padding: 0;
    outline: none;
    width: 100%;
    color: var(--accent-color-2);
}
.phone #login-form{
    margin: 0 20px;
    width: calc(100% - 35px);
}
/*--------------- LOGIN ---------------*/

/*--------------- ADMIN-DASHBOARD ---------------*/
.desktop #admin-dashboard-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% + 30px);
}
.desktop #admin-seasons{
    margin-right: 30px;
    width: calc(50% - 30px);
}
#admin-seasons{
    margin-bottom: 20px;
}
#admin-seasons h1{
    margin: 0 0 20px 0;
}
#admin-seasons div{
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accent-color-1-opacity);
}
#admin-seasons  *{
    font-weight: normal;
}
#admin-seasons div h3{
    width: auto;
    font-family: "Century Gothic", sans-serif;
    color: var(--accent-color-2);
}
#admin-seasons div p{
    font-family: "Century Gothic",sans-serif;
    text-align: right;
    width: auto;
    margin: 0 10px 0 auto;
}
#admin-seasons div a{
    font-weight: bold;
    color: var(--accent-color-terminate);
}
#admin-season-selected *{
    font-weight: bold;
}
#admin-seasons form {
    margin-top: 0;
    display: flex;
}
#admin-seasons form a{
    width: 30px;
    margin: 0 0 0 auto;
    cursor: pointer;
}
#admin-seasons form a img{
    opacity: 0.7;
    filter: var(--svg-color);
}
#admin-seasons form div{
    display: block;
    width: 100%;
    border: 0;
}
#admin-seasons form div input{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Century Gothic", sans-serif;
    background: none;
    border: none;
    outline: none;
    opacity: 0.9;
    color: var(--accent-color-2);
}
#admin-seasons form div input::placeholder{
    opacity: 1;
    color: var(--accent-color-2);
}
.phone #admin-seasons{
    margin: 20px 20px;
}
.phone #admin-seasons div p{
}

.desktop #admin-prices{
    margin-right: 30px;
    width: calc(50% - 30px);
}
#admin-prices h1{
    margin-bottom: 20px;
}
#admin-prices h3{
    font-weight: normal;
}
#admin-prices form div{
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accent-color-1-opacity);
}
#admin-prices form div h3{
    width: 100%;
    font-family: "Proxima Nova Rg", sans-serif;
}
#admin-prices form div input{
    margin: 0 0 0 0;
    width: 50px;
    background: none;
    padding: 0;
    border: 0;
    font-size: 18px;
    font-family: "Century Gothic", sans-serif;
    text-align: right;
    color: var(--accent-color-2);
    outline: none;
}
#admin-prices form div input::placeholder{
    opacity: 0.7;
    color: var(--accent-color-2);
}
.phone #admin-prices form div{
    margin: 0 20px 10px 20px;
}
/*--------------- ADMIN-DASHBOARD ---------------*/

/*--------------- ADMIN-RTYPES ---------------*/
#admin-rtypes-show{
    width: auto;
}
#admin-rtypes-show h1{
    color: var(--accent-color-2-opacity);
    font-weight: bold;
    margin-top: 30px;
}
#admin-rtypes-show h1 b{
    color: var(--accent-color-2);
}
#admin-rtypes-add-div{
    margin-bottom: 30px;
}
#admin-rtypes-add-div h2{
    margin-left: 0;
}
#admin-rtypes-add-div h3{
    margin-bottom: 15px;
    margin-left: 0;
}
#admin-rtypes-add-div form{
    display: block;
}
#admin-rtypes-add-div form input{
    width: 100%;
    background: none;
    border: 0;
    margin: 0 0 10px 0;
    outline: none;
    font-size: 18px;
    font-family: "Proxima Nova Rg", sans-serif;
    color: var(--accent-color-2);
}
#admin-rtypes-add-div form input::placeholder{
    opacity: 1;
    color: var(--accent-color-2-opacity);
}
#admin-rtypes-add-div form textarea{
    width: 100%;
    background: none;
    border: 0;
    margin: 0 0 15px 0;
    outline: none;
    resize: none;
    font-size: 18px;
    font-family: "Proxima Nova Rg", sans-serif;
    color: var(--accent-color-2);
    border-bottom: 2px solid var(--accent-color-2-opacity);
}
#admin-rtypes-add-div form textarea::placeholder{
    opacity: 1;
    color: var(--accent-color-2-opacity);
}
#admin-rtypes-add-div form a{
    width: 90%;
    margin: 0 0 0 calc(100% - 36px);
}
#admin-rtypes-add-div form a img{
    width: 40px;
    opacity: 0.8;
    filter: var(--svg-color)
}
#admin-rtypes-add-div form div{
    display: flex;
}
.admin-rtypes-equipment-div {
    margin: 7px 0;
}
.admin-rtypes-equipment-div label{
    color: var(--accent-color-2);
    position: absolute;
    margin: -2px auto auto 30px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Proxima Nova Rg",sans-serif;
}
.phone #admin-rtypes-add-div{
    margin: 0 20px 20px 20px;
}
.desktop #admin-rtypes-list{
    width: calc(100% + 30px);
    display: flex;
}
.desktop #admin-rtypes-list a{
    width: calc(50% - 30px);
    margin-right: 30px;
}
#admin-rtypes-list{
    margin-top: 40px;
}
#admin-rtypes-list a{
    width: 100%;
}
#admin-rtypes-list a div{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: var(--accent-color-2);
    border-bottom: 2px solid var(--accent-color-2-opacity);
}
#admin-rtypes-list a div h3{
    color: var(--accent-color-2);
}
#admin-rtypes-list a div p{
    margin: 0 0 0 auto;
    color: var(--accent-color-1);
}
.phone #admin-rtypes-list{
    margin: 0 20px;
}
/*--------------- ADMIN-RTYPES ---------------*/

/*--------------- ADMIN-ROOMS ---------------*/
.rooms-div{
    margin-bottom: 30px;
}
.rooms-div h2{
}
.rooms-div table{
    width: 100%;
    border-spacing: 0;
}
.rooms-div-table-content td{
    padding-top: 7px;
    padding-bottom: 4px;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--accent-color-2-opacity);
}
.rooms-div p{
    color: var(--accent-color-2);
}
#admin-rooms-add h1{
    font-weight: bold;
    color: var(--accent-color-2-opacity);
}
#admin-rooms-add h1 b{
    color: var(--accent-color-2);
}
.phone .rooms-div table{
    margin: 0;
    padding: 0 20px;
}
.phone .rooms-div p{
    margin-left: 0;
}
/*--------------- ADMIN-ROOMS ---------------*/


/*--------------- ADMIN-BOOKING-REQUESTS ---------------*/
.admin-booking-requests-div div{
    margin-bottom: 30px;
}
.phone .admin-booking-requests-div div a{
    margin-left: 20px;
}
/*--------------- ADMIN-BOOKING-REQUESTS ---------------*/

/*--------------- ADMIN-MESSAGES ---------------*/
.admin-messages-div{
    margin-bottom: 30px;
}
.admin-messages-div a h3{
    color: var(--accent-color-2);
    margin:  5px 0;
}

.phone .admin-messages-div {
    padding-left: 20px
}
/*--------------- ADMIN-MESSAGES ---------------*/

/*--------------- HORIZONTAL SCROLL BAR ---------------*/
.horizontal-scroll{
    display: block;
    margin-bottom: 10px;
}

.horizontal-scroll a{
    font-size: 26px;
    text-transform: uppercase;
    margin-right: 15px;
}

.phone .horizontal-scroll {
    margin: 0 0 5px 0;
    padding: 0 5px 0 20px;
    overflow: auto;
    white-space: nowrap;
}
/*--------------- HORIZONTAL SCROLL BAR ---------------*/