{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Архивные отзывы - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Отзывы</h1>
    <div class="horizontal-scroll">
        <a href="{% url 'admin-reviews-public' %}" style="opacity: 0.27">Опубликованные</a>
        <a href="{% url 'admin-reviews-new' %}" style="opacity: 0.27">Новые</a>
        <a href="{% url 'admin-reviews-archive' %}">Архивированные</a>
    </div>
    <div class="review-div">
        {% for element in reviews_trash %}
            <div>
                <p>{{ element.text }}</p>
                <p><b>{{ element.author }}</b></p>
                <div>
                    <a href="{% url 'admin-reviews-publish' pk=element.id %}">Опубликовать</a>
                    <a href="{% url 'admin-reviews-delete' pk=element.id %}"
                       onclick="return confirm('Вы уверены?')">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
