{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}{{ r_type.title }} - Классы - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>{{ r_type.title }}</h1>
    <div id="room-top-div">
        <p>{{ r_type.info }}</p>
        <div>
            <h3>В этом сезоне</h3>
            <h3>1 👱‍♂️ <b style="margin: 0">{{ price_current }}</b> рублей</h3>
        </div>
    </div>

    <div id="room-info-div">
        <p>Вместимость: <b>до {{ r_type.max_capacity }} человек</b></p>
        <p>Площадь: <b>{{ r_type.area }} кв.м.</b></p>
    </div>

    <div id="room-photos-div">
    {% for r_type_photo in r_type_photos %}
        <img src="/media/{{ r_type_photo.photo.image }}" alt="photo {{ r_type_photo.r_type.title }}">
    {% endfor %}
    </div>

    <div id="room-equipment-div">
        <h3>Комплектация</h3>
        <div id="room-equipment-div-big">
        {% for r_type_equipment in r_type_equipments %}
            {% if r_type_equipment.equipment.icon != '' %}
            <div>
                <img src="/media/{{ r_type_equipment.equipment.icon }}" alt="equipment {{ r_type_equipment.equipment.title }} icon">
                <h3>{{ r_type_equipment.equipment.title }}</h3>
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <div id="room-equipment-div-small">
            <p>
            {% for r_type_equipment in r_type_equipments %}
            {% if r_type_equipment.equipment.icon == '' %}
                {{ r_type_equipment.equipment.title }}&nbsp&nbsp
            {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>

    <div id="admin-rtypes-add-div">
        <form id="admin-rtypes-div-form" action="{% url 'admin-rtype-add' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% for field in add_rtype_form %}
                {% if field.label != '' %}
                    <div class="admin-rtypes-equipment-div">
                        {{ field }}{{ field.label_tag }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}

            <a onclick="document.getElementById('admin-rtypes-div-form').submit()"><img src="{% static '/img/send.svg' %}" alt="send button"></a>
        </form>
    </div>

{% endblock %}