{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}{{ room.title }} - Номера - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>{{ room.title }}</h1>
    <div class="rooms-div" id="admin-room-guest-div">
        <h2>Гость</h2>
        {% if bookings|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <td><h3>Имя</h3></td>
                        <td><h3>Дата заезда</h3></td>
                        <td><h3>Дата выезда</h3></td>
                        <td><h3>Выселение</h3></td>
                    </tr>
                </thead>
                {% for booking in bookings %}
                    <tr class="rooms-div-table-content">
                        <td><a href="{% url 'admin-guest' url=booking.guest.id %}"><p>{{ booking.guest.name }}</p></a></td>
                        <td><a href="{% url 'admin-guest' url=booking.guest.id %}"><p>{{ booking.date_in }}</p></a></td>
                        <td><a href="{% url 'admin-guest' url=booking.guest.id %}"><p>{{ booking.date_out }}</p></a></td>
                        <td><a href="{% url 'admin_booking_checkout' url=booking.id %}"><input type="button" value="Выселить"></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <div id="admin-rtypes-add-div">
        <h2>Инфо</h2>
        <div>
            <p>{{ room.title }}</p>
            <p>{{ room.url }}</p>
            <p>{{ room.info }}</p>
        </div>
        <a href="/god/website/room/{{ room.id }}/change/?_to_field=id&_popup=1/" target="_blank" onclick="window.open(this.href,this.target,'width=500,height=750,scrollbars=1'); ">Редактировать</a>
    </div>
    <div>
        {% for room_photo in room_photos %}
            <a href="{% url 'admin-room' url=room.url url2=room_photo.id %}"><img src="/media/{{ room_photo.photo.image }}"></a>
        {% endfor %}
    </div>
{% endblock %}