{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Добавить номер - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Добавить номер</h1>
    <div id="admin-rtypes-add-div">
        <form id="admin-rtypes-div-form" action="{% url 'admin-rooms-add' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% for field in add_rtype_form %}
                {% if field.label != '' %}
                    <div class="admin-rtypes-equipment-div">
                        {{ field }}{{ field.label_tag }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <a onclick="document.getElementById('admin-rtypes-div-form').submit()"><img src="{% static '/img/send.svg' %}" alt="send button"></a>
        </form>
    </div>
{% endblock %}