{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.8, user-scalable=no">
    <meta name="theme-color" content='#001218'>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/color-night.css' %}">
    <link rel="stylesheet" href="{% static '/css/main-new.css' %}">
    <link rel="stylesheet" href="{% static '/css/hamburgers.css' %}">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/validators.js' %}"></script>
</head>

<body id="body">
<header id="header">
    <div>
        <a href="{% url 'admin' %}" id="logo">DEEPTOWN ADMIN</a>
        <a href="{% url 'admin-logout' %}" id="logout-button">выход</a>
        <div id="show-right-menu-button" class="hamburger hamburger--vortex">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

    </div>
</header>

<div id="right-panel">
    <a class="right-panel-url" href="{% url 'index' %}">на сайт</a>
    <a class="right-panel-url" href="{% url 'admin-rtypes' %}">классы</a>
    <a class="right-panel-url" href="{% url 'admin-rooms' %}">номера</a>
    <a class="right-panel-url" href="{% url 'admin-guests' %}">гости</a>
    <a class="right-panel-url" href="{% url 'admin-booking-requests' %}">заявки{% block booking_request_dot %}{% endblock %}</a>
    <a class="right-panel-url" href="{% url 'admin-gallery' %}">галерея</a>
    <a class="right-panel-url" href="{% url 'admin-messages' %}">сообщения</a>
    <a class="right-panel-url" href="{% url 'admin-reviews' %}">отзывы{% block reviews_new_dot %}{% endblock %}</a>
</div>
<script>addOrRemovePhone(); auto_underline()</script>

{% block content %}
{% endblock %}
</body>
</html>