{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Классы - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Классы</h1>
    <div id="admin-rtypes-list">
        {% for rtype in rtypes %}
            <a href='/god/website/rtype/{{ rtype.0.id }}/change/?_to_field=id&_popup=1' target="framename" onclick="window.open(this.href,this.target,'width=500,height=750,scrollbars=1'); ">
                <div>
                     <h3>{{ rtype.0.title }}</h3>
                     <p>от <b>{{ rtype.2 }}</b> рублей</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <a href="{% url 'admin-rtype-add' %}" onclick="//admin_rtypes_add_show()" id="admin-rtypes-show"><h1><b>Добавить</b> класс</h1></a>
{% endblock %}