{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.8, user-scalable=no">
    <meta name="theme-color" content='#001218'>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>Авторизация - Администратор - DeepTown</title>
    <link rel="stylesheet" href="{% static '/css/color-night.css' %}">
    <link rel="stylesheet" href="{% static '/css/main-new.css' %}">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
</head>

<body id="body">
<header>
    <div>
        <a href="{% url 'index' %}" id="logo">DEEPTOWN</a>
    </div>
</header>
<script>addOrRemovePhone()</script>

<form id="login-form" action="{% url 'admin' %}" method="post">
    {% csrf_token %}
    <div>
        {{ login_form }}
    </div>
     <a onclick="document.getElementById('login-form').submit()"><img src="{% static 'img/send.svg' %}" alt="send"></a>
</form>
</body>
</html>