{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Галерея - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Галерея</h1>
    <div class="horizontal-scroll" id="horizontal-scroll">
        {% for gallery in galleries %}
             <a href="{% url 'admin-gallery-open' url=gallery.url %}" style="opacity: 0.4">{{ gallery.title }}</a>
        {% endfor %}
    </div>
    <script>gallery_auto_opacity()</script>
    <form method="post" action="{% url 'admin-gallery-open' url=current_gallery.url %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ photo_upload_form }}
    </form>
    <div id="gallery-div">
    {% for photo in photos %}
        <form method="post" action="{% url 'admin-photo-delete' pk=photo.id %}">{% csrf_token %}
        <img src="/media/{{ photo.image }}" alt="photo" onclick="if(confirm('Удалить?')) submit()" style="cursor: pointer">
        </form>
    {% endfor %}
    </div>
{% endblock %}