{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <div id="admin-dashboard-div">
        <div id="admin-seasons">
            <h1>Сезоны</h1>
            {% for season in seasons %}
                <div {% if season is seasons.0 %} id="admin-season-selected" {% endif %}>
                    <a href="/god/website/season/{{ season.id }}/change/?_to_field=id&_popup=1/" target="_blank" onclick="window.open(this.href,this.target,'width=500,height=750,scrollbars=1'); "><h3>{{ season.title }}</h3></a>
                    <p>{{ season.start_date|date:'d.m.y' }}</p>
                    <a onclick="return confirm('Удалить?')" href="{% url 'admin-season-delete' pk=season.id %}">×️</a>
                </div>
            {% endfor %}

            <form action="{% url 'admin-season-add' %}" id="admin-seasons-form" method="post"> {% csrf_token %}
                <div>
                {{ add_season_form }}
                </div>
                <a onclick="document.getElementById('admin-seasons-form').submit()"><img src="{% static '/img/send.svg' %}"></a>
            </form>
        </div>
        <div id="admin-prices">
            <h1>Цены</h1>
            <form id="admin-prices-form" method="post" action="{% url 'admin-change-prices' %}">{% csrf_token %}
                <div>
                    <h3>Двойной номер</h3>
                    {{ update_price_form.double_room }}
                </div>
                <div>
                    <h3>Дополнительный гость</h3>
                    {{ update_price_form.extra_guest }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}