{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Заявки - DeepTown{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}

{% block content %}
    <h1>Заявки</h1>
    <div class="admin-booking-requests-div">
        {% for booking_request in booking_requests %}
            <div>
                <h2>{{ booking_request.name }}</h2>
                <p>{{ booking_request.rtype.title }}</p>
                <p>Въезд: {{ booking_request.date_in}}</p>
                <p>Выезд: {{ booking_request.date_out}}</p>
                <p>Человек: {{ booking_request.peoples}}</p>
                <p>Телефон: {{ booking_request.phone}}</p>
                <a href="{% url 'admin-booking-request-delete' id=booking_request.id %}">Удалить</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}