{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Номера - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Номера</h1>
    {% if bookings_full|length > 0 %}
        <div class="rooms-div">
            <h2>Заняты</h2>
            <table>
                <thead>
                    <tr>
                        <td><h3>Номер</h3></td>
                        <td><h3>Класс</h3></td>
                        <td><h3>Выселение</h3></td>
                    </tr>
                </thead>
               {% for booking_full in bookings_full %}
                   <tr class="rooms-div-table-content">
                        <td><a href='{% url 'admin-room' url=booking_full.room.url %}'><p>{{ booking_full.room.title }}</p></a></td>
                        <td><a href="{% url 'admin-room' url=booking_full.room.url %}"><p>{{ booking_full.room.r_type.title }}</p></a></td>
                        <td><a href="{% url 'admin-room' url=booking_full.room.url %}"><p>{{ booking_full.date_out}}</p></a></td>
                   </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}

    <div class="rooms-div">
        <h2>Свободны</h2>
        <table>
            <thead>
                <tr>
                    <td><h3>Номер</h3></td>
                    <td><h3>Класс</h3></td>
                </tr>
            </thead>
           {% for room_free in rooms_free %}
               <tr class="rooms-div-table-content">
                    <td><a href="{% url 'admin-room' url=room_free.url %}"><p>{{ room_free.title }}</p></a></td>
                    <td><a href="{% url 'admin-room' url=room_free.url %}"><p>{{ room_free.r_type.title }}</p></a></td>
               </tr>
        {% endfor %}
        </table>
    </div>
    <a href="{% url 'admin-rooms-add' %}" id="admin-rooms-add"><h1><b>Добавить</b> номер</h1></a>
{% endblock %}