{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}{{ guest.name }} - Гость - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>{{ guest.name }}</h1>
    {% if open_bookings_for_guest|length < 1  %}
        <div id="admin-rtypes-add-div">
            <h2>Заселить</h2>
            <form id="admin-rtypes-div-form" action="{% url 'admin-guest-checkin' url=guest.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in add_booking_form %}
                    {% if field.label != '' %}
                        <div class="admin-rtypes-equipment-div">
                            {{ field }}{{ field.label_tag }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <a onclick="document.getElementById('admin-rtypes-div-form').submit()"><img src="{% static '/img/send.svg' %}" alt="send button"></a>
            </form>
        </div>
    {% else %}
        <div id="admin-rtypes-add-div">
            <h2>Выселить</h2>
            <table>
                <thead>
                    <tr>
                        <td><h3>Номер</h3></td>
                        <td><h3>Въезд</h3></td>
                        <td><h3>Выезд</h3></td>
                        <td><h3>Выселить</h3></td>
                    </tr>
                </thead>
                {% for open_booking_for_guest in open_bookings_for_guest %}
                    <tr class="rooms-div-table-content">
                        <td><p>{{ open_booking_for_guest.room.title }}</p></td>
                        <td><p>{{ open_booking_for_guest.date_in }}</p></td>
                        <td><p>{{ open_booking_for_guest.date_out }}</p></td>
                        <td><a href="{% url 'admin_booking_checkout' url=open_booking_for_guest.id %}"><input type="button" value="Выселить"></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div id="admin-rtypes-add-div">
        <h2>Данные гостя</h2>
        <p>{{ guest.name }}</p>
        <p>{{ guest.phone }}</p>
        <p>{{ guest.passport }}</p>
        <a href="/god/website/guest/{{ guest.id }}/change/?_to_field=id&_popup=1/" target="_blank" onclick="window.open(this.href,this.target,'width=500,height=750,scrollbars=1'); ">Редактировать</a>
    </div>
{% endblock %}