{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Гости - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Гости</h1>
    <a href="{% url 'admin-guest-add' %}" onclick="//admin_rtypes_add_show()" id="admin-rtypes-show"><h1><b>Добавить</b> гостя</h1></a>
    <div class="rooms-div" id="admin-room-guest-div">
        <h2>Гость</h2>
        <table>
            <thead>
                <tr>
                    <td><h3>Имя</h3></td>
                    <td><h3>Телефон</h3></td>
                </tr>
            </thead>
            {% for guest in guests %}
                <tr class="rooms-div-table-content">
                    <td><a href="{% url 'admin-guest' url=guest.id %}"><p>{{ guest.name }}</p></a></td>
                    <td><a href="{% url 'admin-guest' url=guest.id %}"><p>{{ guest.phone }}</p></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}