{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Сообщения - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Сообщения</h1>
    <div class="admin-messages-div">
        {% for message in messages %}
            <a href="/god/website/indexmessage/{{ message.id }}/change/?_to_field=id&_popup=1/" id="admin-rooms-add" target="_blank" onclick="window.open(this.href,this.target,'width=500,height=750,scrollbars=1');"><h3>{{ message.id }}. {{ message.title }}</h3></a>
        {% endfor %}
    </div>
    <a href="/god/website/indexmessage/add/?_to_field=id&_popup=1/" id="admin-rooms-add" target="_blank" onclick="window.open(this.href,this.target,'width=500,height=750,scrollbars=1');"><h1><b>Добавить</b> сообщение</h1></a>
{% endblock %}