{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Опубликованные отзывы - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Отзывы</h1>
    <div class="horizontal-scroll">
        <a href="{% url 'admin-reviews-public' %}">Опубликованные</a>
        <a href="{% url 'admin-reviews-new' %}" style="opacity: 0.27">Новые</a>
        <a href="{% url 'admin-reviews-archive' %}" style="opacity: 0.27">Архивированные</a>
    </div>
    <div class="review-div">
        {% for element in reviews_public %}
            <div>
                <p>{{ element.text }}</p>
                <p><b>{{ element.author }}</b></p>
                <div>
                    <a href="{% url 'admin-reviews-archivate' pk=element.id %}">В архив</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}