{% extends 'website/admin/admin-layout.html' %}
{% load static %}
{% block title %}Новые отзывы - Администратор - DeepTown{% endblock %}
{% block reviews_new_dot %}{{ reviews_new_dot }}{% endblock %}
{% block booking_request_dot %}{{ booking_request_new_dot }}{% endblock %}

{% block content %}
    <h1>Отзывы</h1>
    <div class="horizontal-scroll">
        <a href="{% url 'admin-reviews-public' %}" style="opacity: 0.27">Опубликованные</a>
        <a href="{% url 'admin-reviews-new' %}">Новые</a>
        <a href="{% url 'admin-reviews-archive' %}" style="opacity: 0.27">Архивированные</a>
    </div>
    <div class="review-div">
        {% if reviews_new.count == 0 %}
            <h3>Новых отзывов нет</h3>
        {% endif %}
        {% for element in reviews_new %}
            <div>
                <p>{{ element.text }}</p>
                <p><b>{{ element.author }}</b></p>
                <div>
                    <a href="{% url 'admin-reviews-publish' pk=element.id %}">Опубликовать</a>
                    <a href="{% url 'admin-reviews-archivate' pk=element.id %}">Архивировать</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}