{% extends 'website/layout.html' %}
{% block title %}Отправка отзыва - DeepTown{% endblock %}
{% block content %}
    <p style="margin-top: 100px; margin-bottom: 100px">Спасибо, <b>{{ author }}</b>. Ваш отзыв отправлен администратору</p>
{% endblock %}